.integration {
    background-color: var(--background);
}

.iframeContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 1px solid var(--border);
}

.iframe {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
}